body {
    color:white;
    background-color: #6e7c8f;
    font-size: 25px;
}



header {
    background-color: #e3e3e3;
    color: black;
    padding: 1em;
    text-align: center;
    font-size: 30px;
}

s {
    text-line-through-color: red;
}

.caption {
    font-style: italic;
    font-size: 20px;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color:#c452b7;
    text-decoration: underline;
}


nav a {
    color: #8be8e1;
    text-decoration: forestgreen;
    text-decoration-line: initial;
}
nav a:hover {
    color: darksalmon;
}

